@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

code {
  font-family: "Lato", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container h1 {
  text-align: center;
}

/* Card */
.card_img img {
  height: 200px;
  width: auto;
}
.card_name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #6495ed;
  margin-bottom: 4px;
}
.card_text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.vote {
  display: flex;
}
.vote h3 {
  font-size: 1.5rem;
}
.vote_icon {
  color: #6495ed;
  transform: scale(1.5);
  margin-top: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.card_submitter {
  opacity: 0.8;
}
.card_submission {
  display: flex;
}
.card_avatar {
  margin-left: 0.5rem;
  margin-top: -0.5rem;
}
.card_list {
  margin: 2rem 2rem;
}
.card_list > * {
  margin-bottom: 1rem;
}
